<%= form_with model: @kitten do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% @kitten.errors.messages.each do |message| %>
      <div><%= message[1][0] %></div>
    <% end %>
    </div>
    <div>
        <%= form.label :age %><br>
        <%= form.number_field :age %>
    </div>
    <div>
        <%= form.label :cuteness %><br>
        <%= form.number_field :cuteness %>
    </div>
    <div>
        <%= form.label :softness%><br>
        <%= form.number_field :softness %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>